body {
  font-family: Roboto, Helvetica, Arial, freesans, clean, sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  max-width: 220px;
}

.train {
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.train span.color {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid #666666;
  margin-top: 0.1em;
  margin-right: 0.25em;
}

.train span.minutes {
  font-size: 14px;
  font-weight: bold;
}

.train span.length {
  color: #888888;
}

.bart-trains .loading {
  line-height: 1.5;
  color: #888888;
  font-size: 10px;
}

#bart-advisories {
  margin: 0.5rem 0;
}

#estimate-info {
  margin-top: 1em;
  color: #888888;
  font-size: 10px;
}

#muni {
  margin-bottom: 0.5em;
}

#muni .pred:first-child {
  font-weight: bold;
  font-size: 14px;
}

#muni .pred:not(:first-child) {
  color: #bbbbbb;
}

#muni-loading.hide,
#bart-loading.hide {
  display: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #800040;
}
