body {
  font-family: Roboto, Helvetica, Arial, freesans, clean, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  max-width: 398px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.train {
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.train.missed .leave-by {
  text-decoration: line-through;
  color: #999;
}

.train span.color {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid #666666;
  margin-top: 0.1em;
  margin-right: 0.25em;
}

.train span.leave-by {
  font-weight: bold;
  color: #333;
}

.train span.train-departs {
  font-size: 1.16rem;
  font-weight: bold;
}

.train .unit {
  color: #888;
}

.train span.length {
  color: #888888;
}

.data-freshness {
  line-height: 1.5;
  color: #888888;
  font-size: 0.83rem;
}
.data-freshness button {
  font-size: 1rem;
}
#bart-advisories {
  margin: 0.5rem 0;
}

#estimate-info {
  margin-top: 1em;
  color: #888888;
  font-size: 0.83rem;
}

#muni {
  margin-bottom: 0.5em;
}

#muni .pred:first-child {
  font-weight: bold;
  font-size: 1.16rem;
}

#muni .pred:not(:first-child) {
  color: #bbbbbb;
}

#muni-loading.hide,
#bart-loading.hide {
  display: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #800040;
}

.transfer-magic .stations .station {
  margin-bottom: 0.5em;
}
